.footer {
  /* background-color: #222; */
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.footer-logo img {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff4757;
}
